<p id="notice"><%= notice %></p>

<h1>Listing Mydo Lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mydo_lists.each do |mydo_list| %>
      <tr>
        <td><%= mydo_list.title %></td>
        <td><%= mydo_list.description %></td>
        <td><%= link_to 'Show', mydo_list %></td>
        <td><%= link_to 'Edit', edit_mydo_list_path(mydo_list) %></td>
        <td><%= link_to 'Destroy', mydo_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mydo list', new_mydo_list_path %>
